@{
    ViewBag.Title = "Content Management System";
    ViewBag.LeftNavPanel = 0;
    ViewBag.NavActive = "prod-dashboard";
}

<div class="container rounded bordered">
    <div style="text-align:center;padding:2em 0;font-weight:bold;font-size:1.5em">
        Welcome to your Content Management System!
    </div>
</div>