@model TKS.Areas.Admin.Models.UserViewModel

<p>There are no items in this customer's Wish List.</p>

@section cphFoot {
    <script type="text/javascript">
        $(function () {
            $("#frm").validate();
        });
    </script>
}
