
@{
    ViewBag.Title = "Manage Search Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

    <h2>Manage Search Index</h2>
    <div class="section-box">
        <form action="/admin/search" method="post" class="ym-form ym-columnar">
            <div class="ym-fbox-button">
                <input type="submit" value="Index Website" />
            </div>
        </form>
    </div>

