@model IEnumerable<TKS.Models.OrderViewModel>



    <div class="box">
        <h1>Update Password</h1>
    </div>
<form action="/myaccount/email" method="post" id="frm" class="ym-form ym-columnar">
    <div class="ym-fbox">
        <label for="password" class="ym-required">Current Password</label>
        <input name="password" type="password" id="password" data-rule-required="true" />
    </div>
    <div class="ym-fbox">
        <label for="newpassword" class="ym-required">New Password</label>
        <input name="newpassword" type="password" id="newpassword" data-rule-required="true" />
    </div>
    <div class="ym-fbox">
        <label for="emailconfirm" class="ym-required">Confirm New Password</label>
        <input name="newpassword2" type="password" id="newpassword2" data-rule-required="true" data-rule-equalto="#newpassword" />
    </div>
    <div class="ym-fbox-button">
        <input type="submit" name="cmdUpdate" value="Change Password" id="cmdUpdate" />
    </div>
</form>


@section cphSidebar {
    <aside class="sidebar">
    <div class="my-account">
        <h2>My Account</h2>
        <div class="holder">
            <div class="pads">
                <ul>
                    <li><a href="/myaccount">Order History</a></li>
                    <li><a href="/myaccount/email">E-Mail Address</a></li>
                    <li><a href="/myaccount/password">Password</a></li>
                    <li><a href="/myaccount/address">Address Book</a></li>
                </ul>
            </div>
        </div>
    </div>
    @{ Html.RenderAction("GetCategorySideMenu", "Service");  }
    @{ Html.RenderAction("GetRecentlyViewed", "Service");  }
</aside>
}

@section cphFoot {
    <script type='text/javascript'>
        $(function () {
            $("#cat-accordion").accordion({
                collapsible: true,
                heightStyle: "content",
                active: false
            });

            $("#frm").validate();
        });
    </script>
    @Html.Raw(ViewData["Scripts"])
}