<div class="section-box">
    <h2><span class="el-icon-calendar icon"></span>Archives</h2>
    <ul>
        @foreach (TKS.Models.Blog.BlogArchiveViewModel arch in TKS.Models.Blog.BlogPosts.ArchiveMonths()) {
            <li><a href="/blog/month/@arch.ArchiveMonth.ToString("MMyyyy")" rel="nofollow">@arch.ArchiveMonth.ToString("MMMM yyyy") (@arch.PostCount.ToString())</a></li>
        }
    </ul>
</div>
